
body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1{
    text-align: center;
    border: solid;
    text-emphasis-color: #EE70FA;
    color: #EE70FA;
    border-color: #C75BF7;
    border-radius: 30px;
    padding-bottom: 5px;
}
.pancakeFront {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.smallodin{
    width: 10%;
    padding-top: 3px;
}
.steps {
border: black;
border: solid;

}
.pancakebox{
    flex: auto;
    
}