
body{
    background-color: #D2AB99;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #04724D;
}


h1{
    text-align: center;
    border: solid;
    text-emphasis-color: #04724D;
    color: #56876D;
    border-color: #04724D;
    border-radius: 30px;
    padding-bottom: 5px;
}
.pancakeFront {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.smallodin{
    width: 10%;
    padding-top: 3px;
}
.steps {
border: black;
border: solid;

}
.pancakebox{
    flex: auto;
    
}
h2, a {
    color: #04724D;
    text-align: center;
    
}
br {
    height: 100px;
}

/* PANCAKES */

.overskrift {
    font-size: 40px;
    display: inline
}
.overskrift1 {
    display: inline;
    font-size: 25px;

}
.forsteparagraf{
    padding-left: 15%;
}